* {
  transition: transform 1s ease;
}
body {
  font-size: 16px;
}
.wrapper {
  width: 100%;
  background-color: transparent;
  overflow-x: hidden;
}
.container {
  width: calc(100% - 200px);
  overflow: hidden;
}
.button {
  padding: 15px 24px;
  background-color: $color-primary;
  border-radius: 4px;
  text-align: center;
  span {
    color: white;
    font-weight: 600;
    text-transform: uppercase;
  }
}
@media screen and (max-width: 1023px) {
  .container {
    width: calc(100% - 50px);
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: calc(100% - 200px);
  }
}
