body {
  font-size: 16px;
}
.wrapper {
  width: 100%;
  background-color: transparent;
}
.container {
  width: calc(100% - 330px);
  overflow: hidden;
}
.button {
  padding: 15px 24px;
  background-color: $color-primary;
  border-radius: 4px;
  text-align: center;
  span {
    color: white;
    font-weight: 600;
    text-transform: uppercase;
  }
}
@media screen and (max-width: 767px) {
  .container {
    width: calc(100% - 100px);
  }
}
