* {
  transition: transform 1s ease;
}
body {
  font-size: 16px;
  overflow: hidden;
}
.wrapper {
  width: 100%;
  background-color: transparent;
  overflow-x: hidden;
}
.container {
  width: calc(100% - 200px);
  overflow: hidden;
}
.button {
  padding: 15px 24px;
  background-color: $color-primary;
  border-radius: 4px;
  text-align: center;
  border: none;
  position: relative;
  overflow: hidden;
  span {
    color: white;
    font-weight: 600;
    text-transform: uppercase;
  }
}
.button::before {
  content: "";
  position: absolute;
  width: 3rem;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(250, 250, 250, 0.144);
  transform: skew(-45deg) translateX(-220%);
}
.button:hover:before {
  animation: buttonEffect 2s ease;
}
.loader-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100000;
  background-color: #fd665e;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader-container.end-load {
  top: -200%;
  opacity: 0;
}
@keyframes buttonEffect {
  to {
    transform: skew(-45deg) translateX(850%);
  }
}
@media screen and (max-width: 1023px) {
  .container {
    width: calc(100% - 50px);
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: calc(100% - 200px);
  }
}
