.section3 {
  .center {
    transform: translateX(0);
  }
  padding: 64px 0px;
  .container {
    margin: 0 auto;
  }
  &-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
  }
  &-title {
    transform: translateX(-100%);
    h2 {
      text-align: start;
      max-width: 400px;
      font-size: 48px;
      margin: 0 auto;
      line-height: calc(60 / 48);
      letter-spacing: -4px;
    }
  }
  &-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
  }
  &-image {
    transform: translateX(-200%);
    img {
      width: 30rem;
      height: 30rem;
      object-fit: cover;
    }
  }
  &-list {
    transform: translateX(205%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 70px;
    .menu {
      display: flex;
      flex-direction: column;
      gap: 40px;
      &-item {
        display: grid;
        grid-template-columns: 3rem 1fr;
        grid-gap: 20px;
        img {
        }
        .right-item {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          gap: 8px;
          &-title {
            font-weight: 700;
            line-height: calc(26 / 16);
          }
          span {
            line-height: calc(26 / 16);
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1023px) {
  .section3 {
    padding: 0px;
    .container {
    }
    &-container {
      gap: 15px;
    }
    &-title {
      width: 100%;
      h2 {
        font-size: 40px;
        max-width: 300px;
        margin: 0 auto;
        text-align: center;
      }
    }
    &-content {
      flex-direction: column;
      gap: 20px;
    }
    &-image {
      img {
        width: 100rem;
        object-fit: cover;
      }
    }
    &-list {
      gap: 30px;
      .menu {
        gap: 15px;
        .menu-item {
          gap: 15px;
        }
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .section3 {
    padding: 64px 0px 0px 0px;
    .container {
    }
    &-container {
    }
    &-list {
      .menu {
        &-item {
          display: grid;
          grid-template-columns: 10% 90%;
          grid-gap: 0px;
        }
      }
    }
  }
}
