.section2 {
  transition: transform 1s ease;
  padding: 64px 0px 24px 0px;
  .container {
    margin: 0 auto;
  }
  &-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 2rem;
  }
  &-title {
    transform: translateY(-290%) rotate(45deg);
    width: 100%;
    h2 {
      text-align: start;
      max-width: 450px;
      font-size: 48px;
      margin: 0 auto;
      line-height: calc(60 / 48);
      letter-spacing: -4px;
    }
  }
  .swiper {
    padding: 0px 0px 40px 0px;
  }
  &-list {
    transform: translateX(200%);
    width: 100%;
    .menu {
      &-item {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &-link {
        img {
          height: 30rem;
          width: 100rem;
          object-fit: cover;
          box-shadow: rgb(175 175 180) -4px 4px 3px 0px;
        }
      }
    }
    .pagi {
      span {
        background-color: $color-primary;
        width: 15px;
        height: 15px;
        border-radius: 100rem;
      }
    }
    .swiper-button-next,
    .swiper-button-prev {
      transform: translateY(-50%);
      color: $color-primary;
    }
  }
  .center {
    transform: translateX(0) rotate(0);
  }
}
@media screen and (max-width: 1023px) {
  .section2 {
    padding: 0px 0px 48px 0px;
  }
}

@media screen and (max-width: 905px) {
  .section2 {
    padding: 10px 0px;
    .container {
    }
    &-container {
      gap: 15px;
    }
    &-title {
      h2 {
        font-size: 40px;
        text-align: center;
        max-width: 300px;
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .section2 {
    padding: 0px 0px;
    .container {
    }
    &-container {
      gap: 10px;
    }
    &-title {
      h2 {
        font-size: 40px;
        text-align: center;
        max-width: 300px;
      }
    }
  }
}
