.section1 {
  padding: 7rem 0px 48px 0px;
  .container {
    margin: 0 auto;
  }
  &-container {
    display: flex;
    flex-direction: column;
    gap: 42px;
  }
  &-title {
    h2 {
      font-family: titleBig;
      font-size: 120px;
      line-height: 1;
      letter-spacing: -4px;
      transform: translateX(-200%);
    }
    span {
      color: $color-primary;
    }
  }
  &-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 55px;
    &-text {
      width: 100%;
      max-width: 290px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 48px;
      transform: translateX(-200%);
      span {
        line-height: calc(25.6 / 16);
        letter-spacing: -1%;
      }
      .button {
        span {
          text-align: center;
        }
      }
    }
    &-image {
      transform: translateX(200%);
      height: 100%;
      object-fit: cover;
    }
  }
  .center {
    transform: translateX(0);
  }
}

@media screen and (max-width: 1023px) {
  .section1 {
    &-title {
      h2 {
        font-size: 100px;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .section1 {
    padding: 5rem 0px 48px 0px;
    &-container {
      gap: 20px;
    }
    &-title {
      h2 {
        font-size: 60px;
      }
    }
    &-content {
      flex-wrap: wrap-reverse;
      gap: 20px;
      &-text {
        max-width: 100%;
        gap: 25px;
      }
    }
  }
}
