.section5 {
  .center {
    transform: translate(0);
  }
  padding: 65px 0px;
  .container {
    height: 100%;
    margin: 0 auto;
  }
  &-container {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 120px;
  }
  &-image {
    transform: translateX(-100%);
    img {
      width: 100%;
      object-fit: cover;
    }
  }
  &-content {
    transform: translateX(100%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 64px;
    h2 {
      font-size: 48px;
      line-height: calc(60 / 48);
      letter-spacing: -4px;
      span {
        color: $color-primary;
      }
    }
    .button {
      span {
        text-transform: uppercase;
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .section5 {
    padding: 0px;
    .container {
    }
    &-container {
      gap: 10px;
    }
    &-image {
      img {
        height: 25rem;
      }
    }
    &-content {
      h2 {
        font-size: 40px;
      }
      gap: 15px;
    }
  }
}
@media screen and (max-width: 767px) {
  .section5 {
    &-container {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}
